/.idea
/.github
/node_modules
/dashboard/node_modules
/dashboard/.next
/dashboard/out
/server/node_modules
/server/lib
/server/gitlab-merger-bot
/server/src/generated/
/yarn-error.log
/charts
